<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
        <p class="lead"><%= exercise %></p>
        <button id="previewButton" class="btn btn-sm transparent-btn ml-2 float-left">Preview</button>
        <button class="btn btn-sm transparent-btn ml-2 float-left">Solution</button>
        <textarea id="exerciseText" class="form-control" rows="3" style="background-color: #000; color: #fff;"></textarea>
        <p id="preview" class="lead"></p>
        <button class="btn btn-sm transparent-btn ml-2 float-left">Solution</button>
    <%- include('../partials/footer'); %>
</html>