<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
<body>
    <div class="container">
        <div class="row">
          <div class="col-12 text-center mt-5">
            <h1 class="display-3">DailyMath</h1>
            <p class="lead"><%= exercise %></p>
            <button class="btn btn-sm transparent-btn ml-2 float-left">Preview</button>
            <button class="btn btn-sm transparent-btn ml-2 float-left">Solution</button>
            <textarea class="form-control" rows="3" style="background-color: #000; color: #fff;"></textarea>
            
          </div>
        </div>
    </div>
    <%- include('../partials/footer'); %>
</body>
</html>