<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Import MathJax -->
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config(
            {
                tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
            
            }
        );
      </script>
      <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
      </script>

    <!-- Import Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
    <title>DailyMath</title>
</head>

<body>
  <div class="container">